<main>
   <header>
      <h1>Home</h1>
   </header>
   <div class="wrapperHome">
      <div class="home-container">
         <h2>Inicio</h2>
         <h3>Bienvenido a tu tienda de videojuegos de confianza.</h3>
         <h4>Necesitas estar registrado para poder ingresar a la tienda, en caso de que ya estes registrado inicia sesion desde el boton.</h4>
         <ul class="listaHome">
            <li><a href="/login" class="login-form-link"> Iniciar sesion</a></li>
            <li><a href="/register" class="login-form-link"> Registrarse</a></li>
         </ul>
         </form>
      </div>
   </div>
</main>