<header>
  <nav class="navbar">
    <div class="left">
      <p class="home"><a href="/">Home</a></p>
    </div>
    <div class="right">
      <ul class="nav">
        <li><a href="/api/users/profile">Mi perfil</a></li>
      </ul>
    </div>
  </nav>
</header>
